%section#articles
  - @articles.each do |article|
    %article
      %h1
        = article.title
      .body
        = truncate_html(article.generated_body, :length => 300, :omission => "... #{link_to 'more', article}")